* {
  box-sizing: border-box;
  cursor: default;
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

html {
  height: 100%;
  overflow: hidden;
}

#main {
  height: 88vh;
  position: relative;
}

.hidden {
  display: none !important;
}
